/*#sound {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 465px;*/
/*    left: 950px;*/
/*}*/

#gameover {
    position: absolute;
    width: 400px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#youwon {
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
}

#youlose {
    width: 400px;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
}

#restart {
    position: absolute;
    top: 310px;
    left: 155px;
    cursor: pointer;
    font-size: 1.25em;
    color: #FFF;
}